<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" Content-Type="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>겁쟁이사자처럼:Sourced by 김주현</title>
    {% load static from staticfiles %}
    {% load compute %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap-3.3.6/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "bootstrap-3.3.6/css/scrolling-nav.css" %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">겁싸x통인시장도시락집=랭킹리뷰</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#newest">최신 순</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#taste">맛 순</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#price">가격 순</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">서비스 순</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#clean">청결도 순</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#air">분위기 순</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#replier">작성자 많은 순</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#total">종합 평점 순 및 평가</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><b>겁쟁이사자처럼 통인시장 도시락집 리뷰</b></h1>
                <br>
                    <p><strong>Developed Ⓓ All by 팀장-김주현 2016 All Rights Reserved.</strong></p>
                                <br>
                <h2>최근 리뷰 업데이트 시각</h2>
                 {% if question_list %}
                    {% for latest in question_list %}
                        {% ifequal forloop.counter 1  %}
                        <h3>{{ latest.pub_date }}</h3>
                        {% endifequal %}
                    {% endfor %}
                {% endif %}
                <br>
                <h2>현재 종합 평점 순 누적 된 도시락집 리뷰 </h2><br>
                    {% if question_list %}
                         {% for q in sum%}
                             {% if forloop.counter < 4 %}
                        <h3><i>"{{ q.2 }}"</i></h3>
                             {% endif %}
                          {% endfor %}
                        <h3><i>"···"</i></h3>
                    {% else %}
                        <p>No dosiraks are available.</p>
                    {% endif %}
                    <br>                <br>

                                <h2>과연 어떤 도시락집 이야기들인지 들어 볼까요? </h2>
                <h2><span class="glyphicon glyphicon-circle-arrow-down"></span></h2>
                    <a class="btn btn-default page-scroll" href="#newest">도시락집 리뷰 보기 Start!</a>
                                    <br>                <br><br>

                </div>
            </div>
        </div>
    </section>

    <!-- newest Section -->
    <section id="newest" class="newest-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
        {% if question_list %}
                   <div class="container">
          <div class="row">
          <div class="well">
          <h1 class="text-center">최근 업데이트 된 순</h1>
          <br>
          <div class="list-group">
              {% for question in question_list %}
                  {% ifequal forloop.counter 1  %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item active">
                       {% else %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item">
                        {% endifequal %}
                         <div class="media col-md-3">
                         <figure class="pull-left">
                        <img height="200" width="250"  src="{{rimg|get_item:question.id }}" alt="{{rimg|get_item:question.id }}">
                         </figure>
                        </div>
                      <div class="col-md-6">
                          <h4 class="list-group-item-heading"><b>{{ forloop.counter }}위:</b> {{ question.question_text}} </h4>
                          <p class="list-group-item-text">{{ question.review }}</p>
                      </div>
                      <div class="col-md-3 text-center">
                          <h4> {{ question.replier }} <small>명이 평가함 </small></h4>
                          <button type="button" class="btn btn-default btn-lg btn-block"><h5>{{ question.pub_date }}</h5></button>
                          <!--div class="stars">
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star-empty"></span>
                          </div>
                          <p> 평점 4.5 <small> / </small> 5 </p-->
                      </div>
                      </a>
                {% endfor %}
                  </div>
                  </div>
                  </div>
                </div>
                  {% endif %}
                <h2><span class="glyphicon glyphicon-circle-arrow-down"></span></h2>
                    <a class="btn btn-default page-scroll" href="#taste"> 맛 랭킹 보기<span class="glyphicon glyphicon-thumbs-up"></span></a>
                <br><br>
                </div>
            </div>
        </div>
    </section>
    <!-- taste Section -->
    <section id="taste" class="taste-section">
          <div class="container">
            <div class="row">
                <div class="col-lg-12">
        {% if taste %}
                   <div class="container">
          <div class="row">
          <div class="well">
          <h1 class="text-center">맛 평점이 제일 높은 순</h1>
          <br>
          <div class="list-group">
              {% for question in taste %}
                  {% ifequal forloop.counter 1  %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item active">
                       {% else %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item">
                        {% endifequal %}
                         <div class="media col-md-3">
                         <figure class="pull-left">
                        <img height="200" width="250"  src="{{rimg|get_item:question.id }}" alt="{{rimg|get_item:question.id }}">
                         </figure>
                        </div>
                      <div class="col-md-6">
                          <h4 class="list-group-item-heading"><b>{{ forloop.counter }}위:</b> {{ question.question_text}} </h4>
                          <p class="list-group-item-text">{{ question.review }}</p>
                      </div>
                      <div class="col-md-3 text-center">
                          <h4> {{ question.replier }} <small>명이 평가함 </small></h4>
                          <button type="button" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-thumbs-up"> {{ question.taste }}점</span></button>
                          <div class="stars">
                              {% for count in counter %}
                                  {% if count < question.taste %}
                                  <span class="glyphicon glyphicon-star"></span>
                                  {% else %}
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  {% endif %}
                              {% endfor %}
                          </div>
                          <p> 평점 {{ question.taste }} <small> / </small> 5 </p>
                      </div>
                      </a>
                {% endfor %}
                  </div>
                  </div>
                  </div>
                </div>
                  {% endif %}
                <h2><span class="glyphicon glyphicon-circle-arrow-down"></span></h2>
                    <a class="btn btn-default page-scroll" href="#price">가격 랭킹 보기<span class="glyphicon glyphicon-thumbs-up"></span></a>
                <br><br>
                </div>
            </div>
        </div>
        </section>
    <!-- price Section -->
    <section id="price" class="price-section">
         <div class="container">
            <div class="row">
                <div class="col-lg-12">
        {% if price %}
                   <div class="container">
          <div class="row">
          <div class="well">
          <h1 class="text-center">가격 평점이 제일 높은 순</h1>
          <br>
          <div class="list-group">
              {% for question in price %}
                  {% ifequal forloop.counter 1  %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item active">
                       {% else %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item">
                        {% endifequal %}
                         <div class="media col-md-3">
                         <figure class="pull-left">
                        <img height="200" width="250"  src="{{rimg|get_item:question.id }}" alt="{{rimg|get_item:question.id }}">
                         </figure>
                        </div>
                      <div class="col-md-6">
                          <h4 class="list-group-item-heading"><b>{{ forloop.counter }}위:</b> {{ question.question_text}}</h4>
                          <p class="list-group-item-text">{{ question.review }}</p>
                      </div>
                      <div class="col-md-3 text-center">
                          <h4> {{ question.replier }} <small>명이 평가함 </small></h4>
                          <button type="button" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-thumbs-up"> {{ question.price }}점</span></button>
                          <div class="stars">
                              {% for count in counter %}
                                  {% if count < question.price %}
                                  <span class="glyphicon glyphicon-star"></span>
                                  {% else %}
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  {% endif %}
                              {% endfor %}
                          </div>
                          <p> 평점 {{ question.price }} <small> / </small> 5 </p>
                      </div>
                      </a>
                {% endfor %}
                  </div>
                  </div>
                  </div>
                </div>
                  {% endif %}
                <h2><span class="glyphicon glyphicon-circle-arrow-down"></span></h2>
                    <a class="btn btn-default page-scroll" href="#services">서비스 랭킹 보기<span class="glyphicon glyphicon-thumbs-up"></span></a>
                <br><br>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
        {% if service %}
                   <div class="container">
          <div class="row">
          <div class="well">
          <h1 class="text-center">서비스 평점이 제일 높은 순</h1>
          <br>
          <div class="list-group">
              {% for question in service %}
                  {% ifequal forloop.counter 1  %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item active">
                       {% else %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item">
                        {% endifequal %}
                         <div class="media col-md-3">
                         <figure class="pull-left">
                        <img height="200" width="250"  src="{{rimg|get_item:question.id }}" alt="{{rimg|get_item:question.id }}">
                         </figure>
                        </div>
                      <div class="col-md-6">
                          <h4 class="list-group-item-heading"><b>{{ forloop.counter }}위:</b> {{ question.question_text}} </h4>
                          <p class="list-group-item-text">{{ question.review }}</p>
                      </div>
                      <div class="col-md-3 text-center">
                          <h4> {{ question.replier }} <small>명이 평가함 </small></h4>
                          <button type="button" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-thumbs-up"> {{ question.service }}점</span></button>
                          <div class="stars">
                              {% for count in counter %}
                                  {% if count < question.service %}
                                  <span class="glyphicon glyphicon-star"></span>
                                  {% else %}
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  {% endif %}
                              {% endfor %}
                          </div>
                          <p> 평점 {{ question.service }} <small> / </small> 5 </p>
                      </div>
                      </a>
                {% endfor %}
                  </div>
                  </div>
                  </div>
                </div>
                  {% endif %}
                <h2><span class="glyphicon glyphicon-circle-arrow-down"></span></h2>
                    <a class="btn btn-default page-scroll" href="#clean">청결도 랭킹 보기<span class="glyphicon glyphicon-thumbs-up"></span></a>
                <br><br>
                </div>
            </div>
        </div>
    </section>
    <!-- clean Section -->
    <section id="clean" class="clean-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
        {% if clean %}
                   <div class="container">
          <div class="row">
          <div class="well">
          <h1 class="text-center">청결도 평점이 제일 높은 순</h1>
          <br>
          <div class="list-group">
              {% for question in clean %}
                  {% ifequal forloop.counter 1  %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item active">
                       {% else %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item">
                        {% endifequal %}
                         <div class="media col-md-3">
                         <figure class="pull-left">
                        <img height="200" width="250"  src="{{rimg|get_item:question.id }}" alt="{{rimg|get_item:question.id }}">
                         </figure>
                        </div>
                      <div class="col-md-6">
                          <h4 class="list-group-item-heading"><b>{{ forloop.counter }}위:</b> {{ question.question_text}} </h4>
                          <p class="list-group-item-text">{{ question.review }}</p>
                      </div>
                      <div class="col-md-3 text-center">
                          <h4> {{ question.replier }} <small>명이 평가함 </small></h4>
                          <button type="button" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-thumbs-up"> {{ question.cleanness }}점</span></button>
                          <div class="stars">
                              {% for count in counter %}
                                  {% if count < question.cleanness %}
                                  <span class="glyphicon glyphicon-star"></span>
                                  {% else %}
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  {% endif %}
                              {% endfor %}
                          </div>
                          <p> 평점 {{ question.cleanness}} <small> / </small> 5 </p>
                      </div>
                      </a>
                {% endfor %}
                  </div>
                  </div>
                  </div>
                </div>
                  {% endif %}
                <h2><span class="glyphicon glyphicon-circle-arrow-down"></span></h2>
                    <a class="btn btn-default page-scroll" href="#air">분위기 랭킹 보기<span class="glyphicon glyphicon-thumbs-up"></span></a>
                <br><br>
                </div>
            </div>
        </div>
        </section>
    <!-- air Section -->
    <section id="air" class="air-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
        {% if air %}
                   <div class="container">
          <div class="row">
          <div class="well">
          <h1 class="text-center">분위기 평점이 제일 높은 순</h1>
          <br>
          <div class="list-group">
              {% for question in air %}
                  {% ifequal forloop.counter 1  %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item active">
                       {% else %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item">
                        {% endifequal %}
                         <div class="media col-md-3">
                         <figure class="pull-left">
                        <img height="200" width="250"  src="{{rimg|get_item:question.id }}" alt="{{rimg|get_item:question.id }}">
                         </figure>
                        </div>
                      <div class="col-md-6">
                          <h4 class="list-group-item-heading"><b>{{ forloop.counter }}위:</b> {{ question.question_text}} </h4>
                          <p class="list-group-item-text">{{ question.review }}</p>
                      </div>
                      <div class="col-md-3 text-center">
                          <h4> {{ question.replier }} <small>명이 평가함 </small></h4>
                          <button type="button" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-thumbs-up"> {{ question.air }}점</span></button>
                          <div class="stars">
                              {% for count in counter %}
                                  {% if count < question.air %}
                                  <span class="glyphicon glyphicon-star"></span>
                                  {% else %}
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  {% endif %}
                              {% endfor %}
                          </div>
                          <p> 평점 {{ question.air }} <small> / </small> 5 </p>
                      </div>
                      </a>
                {% endfor %}
                  </div>
                  </div>
                  </div>
                </div>
                  {% endif %}
                <h2><span class="glyphicon glyphicon-circle-arrow-down"></span></h2>
                    <a class="btn btn-default page-scroll" href="#replier">평가자 수 랭킹 보기<span class="glyphicon glyphicon-thumbs-up"></span></a>
                <br><br>
                </div>
            </div>
        </div>
        </section>
    <!-- replier Section -->
    <section id="replier" class="replier-section">
         <div class="container">
            <div class="row">
                <div class="col-lg-12">
        {% if replier %}
                   <div class="container">
          <div class="row">
          <div class="well">
          <h1 class="text-center">평가자 많은 순</h1>
          <br>
          <div class="list-group">
              {% for question in replier %}
                  {% ifequal forloop.counter 1  %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item active">
                       {% else %}
                      <a href="{% url 'detail' question.id %}" class="list-group-item">
                        {% endifequal %}
                         <div class="media col-md-3">
                         <figure class="pull-left">
                        <img height="200" width="250"  src="{{rimg|get_item:question.id }}" alt="{{rimg|get_item:question.id }}">
                         </figure>
                        </div>
                      <div class="col-md-6">
                          <h4 class="list-group-item-heading"><b>{{ forloop.counter }}위:</b> {{ question.question_text}} </h4>
                          <p class="list-group-item-text">{{ question.review }}</p>
                      </div>
                      <div class="col-md-3 text-center">
                          <h5>최근 평가 시각:{{ question.pub_date }} </h5>
                          <button type="button" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-thumbs-up"></span> {{ question.replier }}명</button>
                          <!--div class="stars">
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star-empty"></span>
                          </div>
                          <p> 평점 4.5 <small> / </small> 5 </p-->
                      </div>
                      </a>
                {% endfor %}
                  </div>
                  </div>
                  </div>
                </div>
                  {% endif %}
                    <h2><span class="glyphicon glyphicon-circle-arrow-down"></span></h2>
                    <a class="btn btn-default page-scroll" href="#total">종합 랭킹 보기<span class="glyphicon glyphicon-thumbs-up"></span></a>
                <br><br>
                </div>
            </div>
        </div>
    </section>
    <!-- total Section -->
    <section id="total" class="total-section">
         <div class="container">
            <div class="row">
                <div class="col-lg-12">
        {% if sum %}
                   <div class="container">
          <div class="row">
          <div class="well">
          <h1 class="text-center">종합 평점이 제일 높은 순</h1>
          <br>
          <div class="list-group">
              {% for question in sum %}
                  {% ifequal forloop.counter 1  %}
                      <a href="{% url 'detail' question.0 %}" class="list-group-item active">
                       {% else %}
                      <a href="{% url 'detail' question.0 %}" class="list-group-item">
                        {% endifequal %}
                         <div class="media col-md-3">
                         <figure class="pull-left">
                        <img height="200" width="250"  src="{{rimg|get_item:question.0 }}" alt="{{rimg|get_item:question.0 }}">
                         </figure>
                        </div>
                      <div class="col-md-6">
                          <h4 class="list-group-item-heading"><b>{{ forloop.counter }}위:</b> {{ question.3}} </h4>
                          <p class="list-group-item-text">누적 평가: {{ question.2 }}</p>
                      </div>
                      <div class="col-md-3 text-center">
                          <h4>누적 총점: {{ question.1|multiply:4}}%</h4>
                          <div class="progress">
                          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ question.1|multiply:4}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ question.1|multiply:4}}%">
                            <span class="sr-only">{{ question.1|multiply:4}}% Complete</span>
                          </div>
                        </div>
                          <button type="button" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-thumbs-up"></span> {{ question.1 }}/25</button>
                          <!--div class="stars">
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star-empty"></span>
                          </div>
                          <p> 평점 4.5 <small> / </small> 5 </p-->
                      </div>
                      </a>
                {% endfor %}
                  </div>
                  </div>
                  </div>
                </div>
                  {% endif %}
                <h2><span class="glyphicon glyphicon-circle-arrow-up"></span></h2>
                    <a class="btn btn-default page-scroll" href="#intro">맨 위로</a>
                <br><br>
                </div>
            </div>
        </div>
        </section>


    <!-- jQuery -->
    <script src="{% static "bootstrap-3.3.6/js/jquery.js"%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap-3.3.6/js/bootstrap.min.js"%}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static "bootstrap-3.3.6/js/jquery.easing.min.js"%}"></script>
    <script src="{% static "bootstrap-3.3.6/js/scrolling-nav.js"%}"></script>

</body>

</html>
